* {
  font-family: montserrat-bold;
  color: #695643;
  font-weight: 540;
  padding: 0;
  margin: 0;
}

#developers h2 {
  padding-bottom: 2em;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 50px auto;
  gap: 2em;
}
.developer img {
  width: 100px;
  object-fit: cover;
  border-radius: 3px;
}
#developers {
  background-color: #f5eada;
  width: 70%;
  box-shadow: 2px 2px 5px rgba(0, 0, 1, 0.1);
  padding: 2em 4em 2em 4em;
  margin: 0 auto;
}
.descricao-devs{
  text-align: justify;
  margin-bottom: 3em;
  font-size: 1em;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  letter-spacing: 1px;
  padding-bottom: 10px;
  font-size: small;
  font-family: "Lora", serif;
}

.developer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6em;
}

.foto-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.foto-container .social-icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.social-icons i{
  font-size:1.3em;
  color: #695643;
  transition: color 0.2s ease;
}
.social-icons i:hover {
  color: #a79584;
}

.dev-01 {
  grid-column: 1/2;
  grid-row: 1/2;
  padding-bottom: 5em;
}
.dev-02 {
  grid-column: 2/3;
  grid-row: 2/3;
}

.developer-info p{
  margin-top: 0.6em;
  text-align: justify;
}

.dev-02 .developer-info {
  order: -1;
}

.email{
  display: flex;
  align-items:end;
  gap: 10px;
}
.email i {
  font-size: 1em;
}

.dev-02 .email{
  justify-content: end;
}

.developer-info p{
  color:#7c6f63;
}

.developer-info strong {
  margin-left: 1em;
  margin-right: 1em;
  font-size: 1.1em;
  color: #695643;
}



h2 {
  text-align: center;
}
.dev-02{
  text-align: end;
}


.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  border: none;
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  padding: 30px;
  background-color: #fff;
  width: 350px;
  max-width: 100%;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
  border: 1px solid #695643;
  border-radius: 10px;
  padding: 10px;
  outline: none;
  width: 180px;
}

.contact-form textarea{
  resize: vertical;
  min-height: 100px;
}


.contact-form button {
  background-color: #695643;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease;
}

.contact-form button:hover {
  background-color: #a79584;
}
