*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

main{
  font-family: 'Montserrat', sans-serif;
  color: #251605; 
  font-weight: 540;
  padding: 0;
  margin: 0;
}

#itens_pessoais {
  width: 90em;
}

#itens_pessoais img {
  width: 42px;
  object-fit: cover;
}
#itens_pessoais td {
  text-align: left;
  padding-top: 30px;
}

main {
  display: flex;
  padding-left: 15em;
  padding-right: 10em;
  padding-top: 6em;
  align-items: flex-start;
}

#perfil {
  width: 25em;
  height: 570px;
  background-color: #f5eada;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
   /* box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2); */
}


.teste {
  width: 2%;
  padding-right: 2%;
}

.custom-line {
  border: none;
  height: 1px;
  background-color: #695643;
  margin-top: 5px;
  width: 80%;
}

#perfil h1 {
  margin-bottom: 1em;
  /* Espaçamento abaixo do texto */
}

h1 {
  margin-bottom: 5em;
}

#perfil > img {
  margin-bottom: 2em;
  /* Espaçamento abaixo do texto */
  width: 100px;
  /* Ajuste o tamanho da imagem */
  height: auto;
  border-radius: 10px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.menu-item {
  background-color: white;
  border: none;
  width: 100%;
  display: flex;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  padding-right: 3.4em;
 
}

.menu-item i{
  font-size: 16px;
  margin-right: 15px;
  color: #DC143C;
}

#interacoes td {
  background-color: white;
  width: 60px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.interacao {
  display: flex;
  align-items: center;
  gap: 5px;
}

#interacoes {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.interacao i {
  font-size: 15px;
  margin: 6px;
  color: #DC143C;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  letter-spacing: 1px;
  padding-bottom: 10px;
  font-size: small;
  color: #695643;
}

#disp {
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
}

#interacoes td {
  margin: 0;
  padding: 0;
}

main {
  padding-bottom: 40px;
}