* {
    font-family: 'Lora', serif;
    color: #695643;
    font-weight: 540;
    padding: 0;
    margin: 0;
}

#itens_pessoais {

    width: 70%;
   
}

td {
    padding-top: 30px;
    margin-right: 30%;
}

main {
    display: flex;
    padding-left: 15%;
    padding-right: 10%;
    padding-top: 5%;
    align-items: flex-start;
}

#perfil {
    width: 30%;
    height: 570px;
    background-color: #F5EADA;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    border-radius: 20px;
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);


}
table tr img {
    width: 25px;
    height: auto;
}

.teste {
    width: 2%;
    padding-right: 2%;
}

.custom-line {
    border: none;
    height: 1px;
    background-color: #695643;
    margin-top: 5px;
    width: 70%
}

#perfil h1 {
    margin-bottom: 3%; /* Espaçamento abaixo do texto */
}

#perfil > img {
    margin-bottom: 10%; /* Espaçamento abaixo do texto */
    width: 100px; /* Ajuste o tamanho da imagem */
    height: auto;
    border-radius: 10px;
}



.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-item {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.menu-item img {
    width: 18px;
    margin-right: 10px;
}
#interacoes td{

    background-color: white;
    width: 80px;
  
    display: flex;

 
}
