main{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.princiapl2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
}
.principal{
    background-color: #F5EADA;
    margin: 0 4%;
    width: 80%;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 4%;
}


.clhoe{
    margin: 5%;
    font-size: 44px;
    color: #251605;
}

.clhoe_div {
    width: 60%;
    padding: 0 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.lista {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.teste {
    display: grid;
    text-align: center;
    justify-content: space-around;
    gap: 2px 2px;
    width: 80%;
}

.perfuminho {
    width: 70%;
    margin-bottom: 5%;
}

span {
    color: #251605;
}

.fotos {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.textinho {
    margin: 2% 2%;
    margin-top: -2em;
    padding: 0 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textinho_descricao {
    display: flex;
    flex-direction: column;
    margin: 3% 0 7% 0;
    Font-family: 'Montserrat', sans-serif;
    color:#251605;
}

.nome_perfume {
    margin-top: 5%;
    color:#251605;
}

.imagem_principais {
    width: 90%;
}

.avaliacao {
    background-color: #F9F1E9;
    margin: 0 4%;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.classificacao {
    margin: 4%;
    padding: 4% 4%;
    display: grid;
    align-items: center;
    text-align: center;
    gap: 20px 0;
    width: 40%;
}


.listinha{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.notas { 
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    width: 40%;
    margin: 5%;
    padding: 4% 4%;
}

.emoji {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 100%;
}

.lista_emoji:hover {
    color: #DC143C;
}

.lista_emoji {
    background: none; /* Remove o fundo padrão do botão */
    border: none; /* Remove a borda padrão do botão */
    padding: 0; /* Remove o preenchimento padrão do botão */
    cursor: pointer; /* Muda o cursor para um ponteiro */
    font-size: inherit; /* Garante que o tamanho do ícone seja herdado */
    color: inherit; /* Garante que a cor do ícone seja herdada */
    outline: none; /* Remove a borda de foco */
    font-size: 24px;
}

.escreve { 
    background-color: #F5EADA;
    margin: 0 4%;
    width: 80%;
    border-bottom: 40px solid #ffffff; /* Adiciona uma borda inferior rosa */
}

h4 {
    padding: 8% 8% 2% 11%;
    font-size: 20px;
}

textarea { 
    margin: 0 6% 5% 8%;
    padding: 2% 2%;
    width: 70%; 
}

.botao-lista {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px 50px;
    border: none;
    background-color: #F9F1E9;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    width: 20%;
    margin-bottom: 5%;
}

.botao-lista:hover {
    background-color: #DC143C;
}

.botao-lista i {
    font-size: 14px;
    padding: 2% 2%;
    color:#251605;
}

.lista {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    align-items: center;
}

.textarea-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    margin: 0 6% 5% 8%;
}

.textarea-container h4 {
    align-self: flex-start; /* Alinha o h4 à esquerda */
    margin-bottom: 5px;
    color: #251605 /* Adiciona um pequeno espaço abaixo do h4 */
}

.escreve textarea {
    padding: 2% 2%;
    width: 80%; /* O textarea ocupa toda a largura */
    margin-bottom: 10px; /* Espaço entre o textarea e o botão */
    border: 1px solid #DC143C;
    border-radius: 15px;
    align-self:center;
}

.botao-enviar {
    /* Estilos do botão */
    padding: 5px;
    background-color: #DC143C;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 80px;
    font-size: 0.8em;
    position: relative;
    left: -10%; /* Move 20px para a esquerda */
}

.acordes,
.piramide,
.notinhas,
.notas h2,
.escreve h4 {
    color: #251605;
}

.acordes {
    margin-bottom: 2%;
}

textarea:focus {
    border-color: #DC143C; 
    outline: none; 
  }

  table {
    width: 70%; /* ALTERAR1!!!!!!! */
    border-collapse: separate; 
    margin: 0 auto; 
    margin-bottom: 90px;
    border-spacing: 20px; 
    background-color: #F5EADA;
  }
  
  th, td {
    padding: 10px; 
    text-align: left;
  }
  
  th:first-child, td:first-child {
    width: 15%; 
  }
  
  td {
    border-radius: 15px;
  }
  
  .borda-imagem {
    border: 3px solid rgb(255, 255, 255);
    border-radius: 15px; 
    padding: 0px;
    border-color: #F9F1E9; 
    width: 100%;
    max-width: 150px;
    height: auto;
  }
  
  .resenha-texto {
    margin: 5px 15px 5px 15px;
    padding: 5px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    background: #F9F1E9;
    color: #251605;
  }
  
  .montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  .usuarios {
    margin: 5px 5px 5px 15px;
    padding-left: 5px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 18px;
    background: #F9F1E9;
    font-weight: 700;
    color: #251605;
  }
  
  .resenha {
    background-color: #F9F1E9;
  }

  footer {
    color: #695643;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
    padding-bottom: 10px;
    font-size: small;
    font-family: 'Montserrat', sans-serif;
  }

  .pontos {
    color:#DC143C;
    font-weight: bold;
  }